<div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3>Listado de Pedidos</h3>
        <div class="tile-body">
          
        </div>
      </div>
    </div>  
  </div>
  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-6">
      <div class="tile">
        <h3>Crear Pedido</h3>
        <div class="tile-body">
          
        </div>
      </div>
    </div>
    <div class="col-sx-12 col-sm-12 col-md-6">
      <div class="tile">
        <h3>Actualizar Pedido</h3>
        <div class="tile-body">
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
  