<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <h3>Listado de Categorias</h3>
      <div class="tile-body">
        <app-tabla-categoria (dataCategory)="getCategoria($event)"></app-tabla-categoria>
      </div>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col-sx-12 col-sm-12 col-md-6">
    <div class="tile">
      <h3>Crear Categoria</h3>
      <div class="tile-body">
        <app-crear-categoria></app-crear-categoria>
      </div>
    </div>
  </div>
  <div class="col-sx-12 col-sm-12 col-md-6">
    <div class="tile">
      <h3>Actualizar Categoria</h3>
      <div class="tile-body">
        <app-actualizar-categoria [categoria]="categoria"></app-actualizar-categoria>
      </div>
    </div>
  </div>
</div>