<!-- Navbar -->
<app-header></app-header>
<!-- Sidebar menu -->
<app-sidebar></app-sidebar>
<!-- Content pages -->
<main class="app-content">
    <!-- breadcrumb -->
    <app-breadcrumb></app-breadcrumb>
    <div class="row">
        <div class="col-md-12">
        <router-outlet></router-outlet>
        </div>
    </div>
</main>