<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <h3>Listado de Platos</h3>
      <div class="tile-body">
        <app-tabla-plato (dataTable)="getTable($event)"></app-tabla-plato>
      </div>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col-sx-12 col-sm-12 col-md-12">
    <div class="tile">
      <h3>Crear Plato</h3>
      <div class="tile-body">
        <app-crear-plato></app-crear-plato>
      </div>
    </div>
  </div>
  <div class="col-sx-12 col-sm-12 col-md-12">
    <div class="tile">
      <h3>Actualizar Plato</h3>
      <div class="tile-body">
        <app-actualizar-plato [dataPlato]="dataPlato"></app-actualizar-plato>
      </div>
    </div>
  </div>
</div>
<div class="row">
</div>
