<form [formGroup]="platoForm" (ngSubmit)="onSubmit($event)">
  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-6">
      <div class="form-group">
        <label class="control-label">Nombre</label>
        <div class="form-group">
          <label class="sr-only" for="nombre">Nombre</label>
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-apple" aria-hidden="true"></i></span></div>
            <input formControlName="nombre" name="nombre" class="form-control" id="nombre" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sx-12 col-sm-12 col-md-6">
      <div class="form-group">
        <label class="control-label">Precio</label>
        <div class="form-group">
          <label class="sr-only" for="precio">Precio</label>
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-eur" aria-hidden="true"></i></span></div>
            <input formControlName="precio" name="precio" class="form-control" id="precio" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-6">
      <div class="form-group">
        <label class="control-label">Descripción</label>
        <div class="form-group">
          <!-- <label class="sr-only" for="nombre">recio</label> -->
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-pencil" aria-hidden="true"></i></span></div>
            <textarea formControlName="descripcion" class="form-control" name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sx-12 col-sm-12 col-md-6">
      <div class="form-group">
        <label class="control-label">Imagen</label>
        <div class="input-group">
          <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-file" aria-hidden="true"></i></span></div>
          <input class="form-control" name="file" type="file">
        </div>
      </div>
      <div class="row">
        <div class=" col-sx-12 col-sm-12 col-md-6">
          <label class="control-label">Categorias</label>
          <select formControlName="id_categoria" name="id_categoria" class="form-control" id="categoria">
            <optgroup label="Selecciona la categoria">
              <option value="1">Entrante</option>
              <option value="2">Primeros</option>
              <option value="3">Segundos</option>
              <option value="4">Postres</option>
            </optgroup>
          </select>
        </div>
        <div class="col-sx-12 col-sm-12 col-md-6">
          <div class="col-md-3">
            <label class="control-label">Activar</label>
            <div class="toggle lg">
              <label>
                <input formControlName="activado" name="activado" type="checkbox"><span class="button-indecator"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile-footer">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" type="submit" [disabled]="!platoForm.valid">
          <i class="fa fa-fw fa-lg fa-check-circle"></i>Crear Plato
        </button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-secondary" type="reset">
          <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel
        </button>
      </div>
    </div>
  </div>
</form>