<table class="display table table-hover" id='tablePlato'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Imagen</th>
      <th>Fecha</th>
      <th>Activado</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plato of platos" (click)="sourceData(plato)">
      <td>{{plato.id}}</td>
      <td>{{plato.nombre}}</td>
      <td>{{plato.descripcion}}</td>
      <td>{{plato.precio}}&nbsp;&nbsp;<i class="fa fa-eur" aria-hidden="true"></i></td>
      <td> <img [src]="url_imagen+'/'+plato.imagen" alt="" width="100px"></td>
      <td>{{plato.fecha | date:"dd/MM/yyyy"}}</td>
      <td>{{plato.activado | activado}}</td>
      <td>{{plato.id_categoria | categoriPlatos}}</td>
    </tr>
  </tbody>
</table>
