<table class="display table table-hover" [id]="id">
  <thead>
    <tr>
      <th>ID</th>
      <th>Categoria</th>
      <th>Descripcion</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let categoria of categorias">
      <tr (click)="dataCategoria(categoria)">
        <td>{{categoria.id}}</td>
        <td>{{categoria.categoria}}</td>
        <td>{{categoria.descripcion}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>