<div class="app-title">
  <div>
    <h1><i [class]="icon"></i> {{titulo}}</h1>
    <p>Start a beautiful journey here</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item"><a href="#">{{titulo}}</a></li>
  </ul>
</div>