<table #table class="display table table-hover" [id]="id">
  <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Imagen</th>
        <th>Fecha</th>
        <th>Activado</th>
        <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let cliente of clientes">
      <tr (click)="dataTable(cliente)">
        <td>{{cliente.id}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.email}}</td>
        <td><img [src]="url_imagen_cliente+'/'+cliente.imagen" alt="" width="40px"></td>
        <td>{{cliente.fecha | date:"dd/MM/yyyy"}}</td>
        <td>{{cliente.activado | activado}}</td>
        <td>{{cliente.role | rol}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>