<form #actualizarCategoria="ngForm" (ngSubmit)="onSubmit(actualizarCategoria)">
  <input type="text" [(ngModel)]="cat.id" name="id" hidden="hidden">
  <div class="form-group">
    <label class="control-label">Categoria</label>
    <div class="form-group">
      <!-- <label class="sr-only" for="nombre">Nombre</label> -->
      <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span></div>
        <input class="form-control" [(ngModel)]="cat.categoria" name="categoria" id="categoria" type="text">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">descripcion</label>
    <div class="form-group">
      <!-- <label class="sr-only" for="nombre">Nombre</label> -->
      <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-pencil" aria-hidden="true"></i></span></div>
        <textarea class="form-control" [(ngModel)]="cat.descripcion" name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
      </div>
    </div>
  </div>
  <div class="tile-footer">
    <div class="row">
      <div class="col-md-8 col-md-offset-3">
        <button class="btn btn-primary" type="submit" [disabled]="isDisabled">
          <i class="fa fa-fw fa-lg fa-check-circle"></i>Actualizar Categoria
        </button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-secondary" type="reset">
          <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel
        </button>
      </div>
    </div>
  </div>
</form>