<form  #actform="ngForm" (ngSubmit)="onSubmit(actform)">
  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-6">
      <div class="form-group">
        <label class="control-label">Nombre</label>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span></div>
            <ng-container *ngIf="user !== undefined; else nombre">
              <input class="form-control"  [(ngModel)]="user.nombre" name="nombre" id="Actnombre" type="text" required="required">
              <input #idCliente type="text" [(ngModel)]="user.id" name="id" hidden="hidden">
            </ng-container>
            <ng-template #nombre>
                <input class="form-control" name="nombre" id="Actnombre" type="text" required="required">
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sx-12 col-sm-12 col-md-6">
      <div class="form-group">
        <label class="control-label">Email</label>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-at" aria-hidden="true"></i></span></div>
            <ng-container *ngIf="user !== undefined; else email">
              <input class="form-control" [(ngModel)]="user.email" name="email" id="Actemail" type="email" required="required">
            </ng-container>
            <ng-template #email>
              <input class="form-control" id="Actemail" type="email" required="required">
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-6">
      <div class="form-group">
        <label class="control-label">Password</label>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span></div>
            <ng-container *ngIf="user !== undefined; else password">
              <input class="form-control" [(ngModel)]="user.password" name="password" id="Actpassword" type="password">
            </ng-container>
            <ng-template #password>
              <input class="form-control" id="Actpassword" type="password">
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sx-12 col-sm-12 col-md-6">
      <label class="control-label">Permisos</label>
      <ng-container *ngIf="user !== undefined; else role">
        <select [(ngModel)]="user.role" name="role" class="form-control" id="Actrole">
          <optgroup label="Selecciona el role">
            <option value="USER_ROLE">Cliente</option>
            <option value="ADMIN_ROLE">Administrador</option>
          </optgroup>
        </select>
      </ng-container>
      <ng-template #role>
        <select class="form-control" id="Actrole">
          <optgroup label="Selecciona el role">
            <option>Cliente</option>
            <option>Administrador</option>
          </optgroup>
        </select>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-6">
      <label class="control-label">Activar</label>
      <div class="toggle lg">
        <label>
          <ng-container *ngIf="user !== undefined; else activado">
            <input [(ngModel)]="user.activado" name="activado" type="checkbox"><span class="button-indecator"></span>
          </ng-container>
          <ng-template #activado>
            <input name="Actactivado" type="checkbox"><span class="button-indecator"></span>
          </ng-template>
        </label>
      </div>
    </div>
    <div class="col-sx-12 col-sm-12 col-md-3 mt-4">
      <button class="btn btn-primary" type="submit" [disabled]="isDisable">
        <i class="fa fa-fw fa-lg fa-check-circle"></i>Actualizar
      </button> 
    </div>
    <div class="col-sx-12 col-sm-12 col-md-3 mt-4">
      <button class="btn btn-secondary" type="reset" (click)="isDisable = !isDisable">
        <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel
      </button>
    </div>
  </div>
</form>
<hr class="dividir">
<h3>Actualizar Imagen Cliente</h3>
<form #actFomrImg="ngForm" (ngSubmit)="actFormImagen($event, actFomrImg)">
  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-8">
      <div class="form-group">
        <label for=""></label>
        <input type="file" class="form-control-file" [(ngModel)]="file" name="file" id="fiel">
      </div>
    </div>
    <div class="col-sx-12 col-sm-12 col-md-4">
      <ng-container *ngIf="user !== undefined; else img">
        <img [src]="urlImagen+'/'+user.imagen" alt="" width="100px">
        <input type="text" [(ngModel)]="user.id" name="idIm" hidden="hidden">
      </ng-container>
      <ng-template #img>
        <img src="assets/image/not_found_image.png" alt="" width="140px">
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sx-12 col-sm-12 col-md-3">
      <button class="btn btn-primary" type="submit" [disabled]="isDisable">
        <i class="fa fa-fw fa-lg fa-check-circle"></i>Actualizar
      </button>
    </div>
    <div class="col-sx-12 col-sm-12 col-md-3">
      <button class="btn btn-secondary" type="reset" (click)="isDisable = !isDisable">
        <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel
      </button>
    </div>
  </div>
</form>
