<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <h3>Listado de Clientes</h3>
      <div class="tile-body">
        <app-tabla-cliente  (dataCLiente)="getCliente($event)"></app-tabla-cliente>
      </div>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col-sx-12 col-sm-12 col-md-6">
    <div class="tile">
      <h3>Crear Cliente</h3>
      <div class="tile-body">
        <app-crear-cliente></app-crear-cliente>
      </div>
    </div>
  </div>
  <div class="col-sx-12 col-sm-12 col-md-6">
    <div class="tile">
      <h3>Actualizar Cliente</h3>
      <div class="tile-body">
        <app-actualizar-cliente [user]="user"></app-actualizar-cliente>
      </div>
    </div>
  </div>
</div>
<div class="row">
</div>