<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <img class="app-sidebar__user-avatar" width="45px" src="assets/image/logo.png" alt="User Image">
    <div>
      <p class="app-sidebar__user-name">Carles Perdrero</p>
      <p class="app-sidebar__user-designation">Admin</p>
    </div>
  </div>
  <ul class="app-menu">
    <li class="treeview" *ngFor="let menu of _sidebar.menu">
      <a class="app-menu__item" [routerLink]="menu.url" routerLinkActive="active">
        <i [class]="menu.icono" aria-hidden="true"></i>
        <span class="app-menu__label">{{menu.titulo}}</span>
      </a>
    </li>
  </ul>
</aside>