<form [formGroup]="clienteForm" (ngSubmit)="onSubmit($event)">
  <div class="form-group">
    <label class="control-label">Nombre</label>
    <div class="form-group">
      <label class="sr-only" for="nombre">Nombre</label>
      <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span></div>
        <input class="form-control" id="nombre" formControlName="nombre" name="nombre" type="text">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Email</label>
    <div class="form-group">
      <label class="sr-only" for="email"></label>
      <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-at" aria-hidden="true"></i></span></div>
        <input name="email" class="form-control" formControlName="email" id="email" type="email">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Password</label>
    <div class="form-group">
      <label class="sr-only" for="password"></label>
      <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span></div>
        <input formControlName="password" name="password" class="form-control" id="password" type="password">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Imagen</label>
    <div class="form-group">
      <label class="sr-only" for="imagen"></label>
      <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-file" aria-hidden="true"></i></span></div>
        <input name="imagen" class="form-control" id="imagen" type="file">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
        <label class="control-label">Role</label>
        <select FormControlName="role" name="role" class="form-control" id="role">
          <optgroup label="Selecciona el role">
            <option value="USER_ROLE">Cliente</option>
            <option value="ADMIN_ROLE">Administrador</option>
          </optgroup>
        </select>
    </div>
    <div class="col-md-3">
      <label class="control-label">Activar</label>
      <div class="toggle lg">
        <label>
          <input formControlName="activado" name="activado" type="checkbox"><span class="button-indecator"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="tile-footer">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" type="submit" [disabled]="!clienteForm.valid">
          <i class="fa fa-fw fa-lg fa-check-circle"></i>Crear Cliente
        </button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-secondary" type="reset">
          <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel
        </button>
      </div>
    </div>
  </div>
</form>

