<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <h3>Listado Cliente</h3>
      <div class="tile-bod"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <h3>Listado Categoría</h3>
      <div class="tile-bod"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <h3>Listado Pedido</h3>
      <div class="tile-bod"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <h3>Listado Platos</h3>
      <div class="tile-bod"></div>
    </div>
  </div>
</div>
