<div class="row">
  <div class="col-md-6">
    <form #actualizarForm="ngForm" (ngSubmit)="onSubmit(actualizarForm)">
      <div class="form-group">
        <label class="control-label">Nombre</label>
        <div class="form-group">
          <label class="sr-only" for="nombre">Nombre</label>
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-apple" aria-hidden="true"></i></span></div>
            <input class="form-control" [(ngModel)]="plato.nombre" name="nombre" id="nombre" type="text">
            <input type="text" [(ngModel)]="plato.id" name="id" hidden="hidden"> 
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Precio</label>
        <div class="form-group">
          <label class="sr-only" for="nombre">Precio</label>
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-eur" aria-hidden="true"></i></span></div>
            <input class="form-control" [(ngModel)]="plato.precio" name="precio" id="nombre" type="text">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Descripción</label>
        <div class="form-group">
          <!-- <label class="sr-only" for="nombre">recio</label> -->
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-pencil" aria-hidden="true"></i></span></div>
            <textarea class="form-control" [(ngModel)]="plato.descripcion" name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
            <label class="control-label">Categorias</label>
            <select class="form-control" [(ngModel)]="plato.id_categoria" name="id_categoria" id="categoria">
              <optgroup label="Selecciona la categoria">
                <option value="1">Entrante</option>
                <option value="2">Primeros</option>
                <option value="3">Segundos</option>
                <option value="4">Postres</option>
              </optgroup>
            </select>
        </div>
        <div class="col-md-3">
            <label class="control-label">Activar</label>
          <div class="toggle-flip">
            <label>
              <input type="checkbox" [(ngModel)]="plato.activado" name="activado"><span class="flip-indecator" data-toggle-on="ON" data-toggle-off="OFF"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="tile-footer">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" type="submit" [disabled]="isDisabled">
              <i class="fa fa-fw fa-lg fa-check-circle"></i>Actualiar Plato
            </button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-secondary" type="reset">
              <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4 offset-md-1">
    <h3>Actualizar Imagen Plato</h3>
    <form #atcplIm="ngForm" (ngSubmit)="actForm($event, atcplIm)">
      <input type="text" [(ngModel)]="plato.id" name="id" hidden="hidden">
      <div class="row">
        <div class="col-md-12">
          <img [src]="urlImagenPlato+'/'+plato.imagen" alt="" width="200px">
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for=""></label>
            <input [(ngModel)]="file" name="file" type="file" class="form-control-file">
            <!-- <small id="fileHelpId" class="form-text text-muted">Help text</small> -->
          </div>
        </div>
      </div>
      <div class="tile-footer">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" type="submit" [disabled]="isDisabled">
              <i class="fa fa-fw fa-lg fa-check-circle"></i>Actualiar Plato
            </button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-secondary" type="reset">
              <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel
            </button>
          </div>
        </div>
      </div>
    </form>

  </div>

</div>
